//https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9
$blue-dark       =       #0b132b 
$yanke-blue      =       #1c2541
$independence    =       #3a506b
$sea-serpent     =       #5bc0be
$aqua            =       #6fffe9 
$orange          =       #ffa16f//orange 
$egg             =       #F3E9D2
$green-light     =       #C6DABF//red

*
  user-select: none;


.point
  width: 50vw;
  margin: auto;
  margin-bottom: 1.2em
  &__circle
    text-align: left;
    display: inline;
    float: left;
  &__cross 
    text-align: right;

.reset
  width: 5em;
  background-color: hsl(176, 48%, 56%)
  /* display: none; */
  position: relative;
  float none;
  margin: 0 auto;
  color: hsl(213, 30%, 32%)
  line-height: 2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer
  transform: scale(1)
  opacity: 1
  height: 2em;
  transition all 1s
  //display: block
  box-shadow: inset 0px -6px 0px 0px #2e3e6d
  margin-bottom: -6px;
  &:hover
    box-shadow: inset -111px -6px 0px 0px #2e3e6d
    color #fff
.reset-hide
  //display: none
  transform: scale(0)
  height: 0em;
  opacity: 0
  border 1px solid $orange 
  transition all 1s
  box-shadow: inset 111px -6px 0px 0px #2e3e6d


.disable
  background-color $orange 
.nav
  position relative
  width 50vw
  height 30vh
  margin auto
  margin-top 3.5em;
.choice
  display: flex
  center-bloc()
  display flex
  justify-content space-between
  align-items center
  &__circle, &__cross
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    width: 10vw
    height: 10vh
    box-shadow: 1px -2px 9px 1px #1c1e25
    border: 5px solid #3a506b
    border-radius: 3px
    transition all .5s
    text-indent: -10000px
    max-width: 77px;
    min-width: 59px;
    &:after
      font-size: 1.5em;
      font-size: 5.5vw;
      text-indent: 0
  &__cross 
    color $independence!important
    background-color: $egg !important
    &:after
      content: 'x'
  &__circle 
    background-color: $green-light  !important
    color $yanke-blue !important
    &:after
      content: 'o'
      //text-indent: -46px

//- mixins
center-bloc()
  display: flex
  justify-content center 
  align-items flex-start

//player
.circle, .cross, .win
  font-size: 16.5vw;

.circle
  background-color: $green-light  !important
  color $yanke-blue !important
  &:after
    content: 'o'
.cross
  color $independence!important
  background-color: $egg !important
  &:after
    content: 'x'
.win
  background-color: $orange !important
  color $independence !important

.alert
  color red !important 
  background-color red !important 
  border 1px solid red !important
.hide
  display none !important
.show
  display block !important
.choose-button
  transform: scale(1.2)
  border-radius 50% 
  width: 10vw
  height: 10vh
  //border 1px solid $orange 
  //border: 5px solid hsl(213, 30%, 32%);
.fond

body
  background-color $yanke-blue    
  color $aqua
  font-family 'Roboto', sans-serif
  text-align center
  font-size: 1.3em

h1
  margin 0 0 1em
  font-size 1.8em
  text-align: center
  width: 100%
  text-transform capitalize
h2
  margin 0 0 1em
  font-size 1.43em
  text-align: center

.footer,footer
  background-color: #3a506b;
  padding: 1em;
  margin-top: 47em;
  width: 50vh;
  center-bloc()
  flex-direction: row;
  margin: auto;
  text-indent: -1000000px;
  box-shadow: 1px -2px 9px 1px #1c1e25;

.support-top,.support-bottom
  background-color: #3a506b;
  padding: 1em;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  //margin-top: 7em;
  text-indent: 0;
  div
    text-indent: -1000000px;
  //center-bloc()
.support-top
  margin-top: -14.5em;
.support-bottom
  margin-top: 10em;

@media screen and (max-height: 610px)
  body
    .support-top, .support-bottom
      display: none

.footer,footer
  background-color: #3a506b;
  padding: 1em;
  width: 50vh;
  center-bloc()
  margin: auto;
  margin-top: 0em;
  text-indent: 0

.container
  width: 50vw
  height: 50vh
  margin: auto
  position relative
  //&:before
    //background-color: black
    //content: '  '
    //position: absolute;
    //left: 0
    //top: 0
    //right: 0
    //bottom: 0
  .map
      
    .map__row
      center-bloc()
    .map__carre 
      cursor: pointer
      width: 23vh
      height: 20vh
      background-color $independence 
      center-bloc()
      border 1px solid $yanke-blue 
      span
        //text-indent: -10000px
        cursor: pointer
        height: 51px;
        width: 51px;
        display: flex
        justify-content center 
        align-items center
        width: 100%
        height: 100%

      //span.play
        //background:transparent url("http://artot.net/icons-tictactoc/play-white.png") 50% 50% no-repeat;
      //span.lost
        //background:transparent url("http://artot.net/icons-tictactoc/lost-white.png") 50% 50% no-repeat;
      //span.tied
        //background:transparent url("http://artot.net/icons-tictactoc/tied-white.png") 50% 50% no-repeat;
      //span.win
        //background:transparent url("http://artot.net/icons-tictactoc/win-white.png")  50% 50% no-repeat;

