//- mixins.jade
mixin script(src)
  script(type='application/javascript', src=src)
mixin style(href)
  link(rel='stylesheet', type='text/css', href=href)

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +style('style.css')
    
    title FFC - x

  body
    div.container
      h1 Free code Camp 

      footer
        div.thx Thanks for watching.

    +script('script.js')

